/* Timer */

.back {
  display: block;
  margin-bottom: 12px;
}

.timer {
  display: flex;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#datetime-picker {
  margin-bottom: 12px;
}

/* Snackbar */

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
}